*{
  margin: 0;
  padding: 0;

}
body{
  background-color:#fbeceb;
  font-family: Fira Sans Condensed;
}
html {
  scroll-behavior: smooth;
}

/*--------------vindu1-------------*/
.vindu1{
  background-image:linear-gradient(rgba(255,255,255,0.7),rgba(83, 211, 209,0.7)), url(./white.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: auto;
  border-radius : 0% 0% 50% 0%;
  z-index: -1;
}
.bar{

  background-color: rgba(251, 236, 235,.9);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 15;
  border-style: outset;
}

.logo{
  float: left;
  margin-top: 2vh;
  margin-left: 3vw;
  margin-bottom: 1vh;

}
.logo img{
  float: left;
 width: 100%;

}
.nav a{
  float: left;
  text-decoration: none;
  transition: 0.5s ease;
  text-align: center;
  color: rgb(6,26,38);
  padding-right: 4vw;
  font-size: 2vw;

}
.nav a.active {

  color: #FEB249;
}

.nav a:hover{

  color: #FEB249;
}
.nav{
  float: right;
  overflow: hidden;
  margin-top: 3vw;
  color: rgb(6,26,38);
}
.bar a.icon {
  display: none;

}



.slagord{
  margin-top: 45vh;
  padding-left: 5vw;
}

.slagord h1{
  font-size: 4vw;
  padding-left: 1vw;
  font-family: Monosame;
}

#matsvinn{
  color: #FEB249;
  background-color: transparent;
}

.slagordknapp{
  display: inline-block;
  padding:6px 18px;
  margin-left: 1vw;
  margin-top: 7vh;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 2.5vw;
  letter-spacing: 2px;
  border-radius: 3vw;
  background-color: #FEB249;
}
.slagordknapp:hover{
  background-color:#53D3D1;
  border: 1px solid ;
}


.iphone{
  float: right;
  position: absolute;
  top: 35vh;
  left: 70%;
  z-index: 10;



}
.iphone img{
  float: right;
  height: 60vh;
  padding-right: 7vw;


}

/*--------------vindu2-------------*/
.vindu2{

  float: left;
  background-size: cover;
  background-position: center;
}
.tboks{
  height: ;
  float: left;
  margin-left: 6.2vw;
  margin-top: 20vh;
  border-style: outset;
  background-image:linear-gradient(rgba(83, 211, 209,0.7),rgba(255,255,255,0.7)), url(./white.jpg);
}
.ttekst h2{
  font-size: 3.5vw;
  padding-left: 1vw;
  font-family: Astul;
}

.ttekst h3{
  font-family: Athiti
}

.tlogo img{
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 2vw;
}
.ttekst{
  padding-top: 4vh;
}

.knapptboks{
  display: inline-block;
  padding:6px 18px;
  margin-left: 7.2vw;
  margin-top: 7vh;
  margin-bottom: 3vh;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 1.5vw;
  letter-spacing: 2px;
  border-radius: 3vw;
  background-color: #FEB249;
}
.knapptboks:hover{
color: #fff;
background-color:#53D3D1 ;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent ;
  color: #FEB249;
  cursor: pointer;
  font-size: 4vw;
}


.oppelinje{
  height: 2px;
  width: 70vw;
  background: #FEB249 ;
  display: inline-block;
  margin-left:15vw;
}
.nedelinje{
  height: 2px;
  width: 40vw;
  background: #FEB249 ;
  display: inline-block;
  margin-left:30vw;
}
.nedelinjek{
  height: 1px;
  width: 20vw;
  background: white;
  display: inline-block;
  margin-left:40vw;

}
.tittel1{
  float: left;
  margin-top: 10vh;
}

.tittel1 h1{
  font-size: 10vw;

}
.tittel1 h3{
  color: #FEB249;
  font-size: 4vw;
}
.tittel1 h2{
  font-size: 5vw;

}


/*--------------vindu3-------------*/
.vindu3{
  float: left;
  background-color: #002447;
  margin-top: 20vh;
  padding: 0;

}
.tittelk{
  color: white;
  font-size: 2vw;

}
/*.nedelinjek{
  height: 1px;
  width: 30vw;
  background: #FFF ;
  display: inline-block;
  margin-left:35vw;
}*/
.kontaktboks1{
  float: left;
  margin-left:5vw;
  text-align: center;
}

.kontaktboks1 a{
  font-size: 3vw;
  display: block;
  margin: 3vw 0;
  color: white;
  padding-top: 0.5vw;
}
.kontaktboks1 a:hover{
color: #FEB249;

}

.borderhøyre{
  height: 30vh;
  width: 1px;
  background: #FFF ;
  display: inline-block;
  float: left;
  margin-top: 6vh;


}
.kontaktboks2{
  float: left;

}
.kontaktboks2 a{
  text-align: center;
  font-size: 3vw;
  display: block;
  color: white;
  padding-top: 1vw;

}
.kontaktboks2 a:hover{
color: #FEB249;

}
.kontaktboks2 h3{
  position: center;
  padding: 1vw;
  text-align: center;
  color: white;
  font-size: 1vw;
}

.kontaktboks3{
  float: left;
}
.bordervenstre{
 height: 30vh;
  width: 1px;
  background: #FFF ;
  display: inline-block;
  float: left;
  margin-top: 6vh;

}
.knapptboks3a{

  display: inline-block;
  padding:10px 20px;
  margin-left: 10vw;
  margin-top: 10vh;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 1.5vw;
  letter-spacing: 2px;
  border-radius: 3vw;
  background-color: #FEB249;
}
.knapptboks3b{

  display: inline-block;
  padding:10px 20px;
  margin-left: 10vw;
  margin-top: 10vh;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 1.5vw;
  letter-spacing: 2px;
  border-radius: 3vw;
  background-color: #FEB249;
}
.kontaktboks3 a:hover{
color: #fff;
background-color:#53D3D1 ;
}

/*-----------------------------LØSNIIIIIIIIIIIING!!!!!!-----------------------*/
.Lslagord{
  margin-top: 45vh;
  padding-left: 5vw;
  margin-left: 10vw;
}
.Lslagord h1{
  font-size: 4vw;
  padding-left: 1vw;
  font-family: Monosame;

}
.Lslagordknapp{
  display: inline-block;
  padding:6px 18px;
  margin-left: 25vw;
  margin-top: 7vh;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 2.5vw;
  letter-spacing: 2px;
  border-radius: 3vw;
  background-color: #FEB249;
}
.Lslagordknapp:hover{
  background-color:#53D3D1;
  border: 1px solid ;
}
.Lmarkinger{
  color: #FEB249;
  background-color: transparent;
}

.Lvindu1{
  background-image:linear-gradient(rgba(255,255,255,0.7),rgba(83, 211, 209,0.7)), url(./white.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: auto;
  background-color: black;
  z-index: -1;
}

.Lvindu2{
  background-color: rgb(245, 237, 236);

  background-size: cover;
  background-position: center;
  overflow: auto;
  z-index: -1;
  float: left;
}

.Ltittel{
  font-size: 2.8vw;
  margin-left: 36vw;
  margin-top: 11vh;
}
.Lnedelinjek{
  height: 2.7px;
  width: 20vw;
  background: #FEB249;
  display: inline-block;
  margin-left:2.59999999999vw;

}


.Lttekst{
  text-align: center;
  margin-left: 10vw;
  margin-top: 2vh;
  font-size: 1.5vw;

}

.Ltpunkter{
  margin-left: 13vw;
  margin-top: 8vh;
  font-size: 2vw;
  font-family: 'Roboto', sans-serif;

}
.Ltpunkter li{
  margin: 1.5vh 0;
}
.Llinjek2{
  height: 2.7px;
  width: 30vw;
  background: #FEB249;
  display: inline-block;
  margin-left:35vw;
  margin-top: 1.5vw;

}
.Lv2knapp{
  display: inline-block;
  padding: 3px 8px;
  margin-top: 12vh;
  margin-left: 44vw;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 2vw;
  letter-spacing: 2px;
  border-radius: 3vw;
  background-color: #FEB249;
}
.Lv3knapp{
  display: inline-block;
  padding: 3px 8px;
  margin-top: 9vh;
  margin-left: 44vw;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 2vw;
  letter-spacing: 2px;
  border-radius: 3vw;
  background-color: #FEB249;
}
.Lms{
  margin-left: 50vw;

}
.Ltteekst {
  margin-top: 7vh;
  margin-left: 10vw;
  font-size: 2vw;
}

.Lttekst2 img{
width: 20vw;
margin-left: 5vw;
margin-top: 5vw;
float: left;
}
.Lbildetekst{
  margin-left: 5vw;
  margin-top: 10vh;
  float: left;
  font-size: 2vw;
}
.Lnedelinjek2{
  height: 2px;
  width: 70vw;
  background: #FEB249;
  display: inline-block;
  margin-left:7vw;
  margin-top: 5vw;
}
.Lbordervenstre{
 height: 30vh;
  width: 2px;
  background: #FEB249;
  display: inline-block;
  float: left;
  margin-top: 15vh;
  margin-left: 5vw;

}
.Lborderhøyre{
 height: 30vh;
  width: 2px;
  background: #FEB249;
  display: inline-block;
  float: left;
  margin-top: -30vh;
  margin-left: 90vw;
}
.Lnedelinjekk2{
  height: 2px;
  width: 70vw;
  background: #FEB249;
  display: inline-block;
  margin-left:12vw;
  margin-top: 5vh;
}

.Lttekst3{
  margin-left: 10vw;
  margin-top: 5vw;
  font-size: 2vw;
}
.Lttekst33{
  margin-left: 10vw;
  margin-top: 5vw;
  font-size: 2vw;
}

.Lttlinje{
  height: 2px;
  width: 30vw;
  background: #FEB249;
  display: inline-block;
  margin-left:2vw;
  margin-bottom: 2vh;

}

.Lttekst4{
  margin-left: 10vw;
  margin-top: 3vw;
  font-size: 2vw;
}
.Lttekst44{
  margin-left: 10vw;
  margin-top: 3vw;
  font-size: 2vw;
  font-family: 'Roboto', sans-serif;
}

/*-------------------------------Responsiv----------------------*/


[class*="col-"]{
  border: black solid 0px;

}

.row::after{
  content: "";
  clear: both;
  display: table;
}
.col-small10{width: 10%;}
.col-small15{width: 15%;}
.col-small20{width: 20%;}
.col-small25{width: 25%;}
.col-small30{width: 30%;}
.col-small40{width: 40%;}
.col-small50{width: 50%;}
.col-small60{width: 60%;}
.col-small70{width: 70%;}
.col-small80{width: 80%;}
.col-small90{width: 90%;}
.col-small100{width: 100%;}

@media only screen and (max-width: 600px){
.col-mob10{width: 10%;}
.col-mob15{width: 15%;}
.col-mob25{width: 25%;}
.col-mob30{width: 30%;}
.col-mob40{width: 40%;}
.col-mob50{width: 50%;}
.col-mob60{width: 60%;}
.col-mob65{width: 65%;}
.col-mob70{width: 70%;}
.col-mob90{width: 90%;}
.col-mob100{width: 100%;}

.logo{
  float: left;
  margin-left: 30vw;
  margin-top: 2vh;
}
.logo img{
  float: left;
 width: 100%;

}



.bar a.icon {
  display: block;
  position: absolute;
  top: 4vh;
  right: 3vw;
  font-size: 6vw;
  color: black;

}
#nav{
  display: none;
  position: absolute;
  top: 12vh;
  left: -5px;
  height: 40vh;
  width: 102%;
  background-color: #002447;
  text-align: center;
}
.nav a{
  display: block;
  width: 100%;
  padding-top: 4vh;
  color: white;
  font-size: 3vw;

}





.iphone{
  display: none;
}
.slagord{
  text-align: center;
  padding-left: 0;
}
.slagord h1{
  font-size: 5vw;
  padding-left: 0;
}
.slagordknapp{
  font-size: 3vw;
}
.knapptboks{
  font-size: 3vw;
  margin-left: 36vw;

}
.ttekst h2{
  font-size: 5vw;
}
.tittelk{
  font-size: 4vw;
}
.kontaktboks1{
  margin-left: 10vw;
}
.kontaktboks1 a{
  font-size: 6vw;
  margin: 5vw 0;
}
.kontaktboks2 a{
  font-size: 4vw;
}
.kontaktboks2 h3{
  font-size: 4vw;
}
.bordervenstre{
  display: none;
}
.kontaktboks3{
  height: 15vh;
  margin-left: 25vw;
  align-items: center;
  justify-content: center;

}
.knapptboks3a{
  float: left;
  margin-left: 0vw;
  margin-top: 0vh;
  font-size: 2vw;
}
.knapptboks3b{
  float: right;
  margin-left: 0;
  margin-top: 0;
  font-size: 2vw;

}
#myBtn{
  font-size: 8vw;
}


}




@media only screen and (min-width: 600px) and (max-width: 790px){
.col-pad10{width: 10%;}
.col-pad15{width: 15%;}
.col-pad20{width: 20%;}
.col-pad25{width: 25%;}
.col-pad30{width: 30%;}
.col-pad40{width: 40%;}
.col-pad50{width: 50%;}
.col-pad60{width: 60%;}
.col-pad65{width: 65%;}
.col-pad70{width: 70%;}
.col-pad80{width: 80%;}
.col-pad90{width: 90%;}
.col-pad100{width: 100%;}

  .nav a{
    font-size: 3vw;
    padding-right: 3vw;
  }
  .nav{
    margin-top: 5vh;
  }
  .slagord h1{
    font-size: 6vw;
  }
  .slagordknapp{
    font-size: 3vw;
  }
  .iphone{
    top: 25vh;
  }
  .iphone img{
    height: 70vh;
  }

  .ttekst{
    float: right;
  }
  .ttekst h2{

}

.tlogo{
  float: left;
  margin-top: 7vh;
  margin-left: 3vw;
  padding-bottom: 5vh;
}
.tlogo img{
  height: 20vh;

}
.ttekst{
  padding-top: 4vh;
}
.knapptboks{
  margin-left: 30vw;
  font-size: 2.5vw;

}
.kontaktboks1 a{
  font-size: 4vw;
  margin: 6vw 0;
  padding-top: 0.5vw;
}

.kontaktboks2 a{
  font-size: 5vw;
  margin: 1.4vw 0;
  padding-top: 0vw;
}

.kontaktboks2 h3{
  font-size: 2.4vw;

}
.tittelk h1{
font-size: 6vw;
}

.kontaktboks3 a{
  font-size: 2.6vw;
  margin-top: 9vh;


}
#myBtn{
  font-size: 6vw;
}


}
