*{
  margin: 0;
  padding: 0;

}
body{
  background-color:#fbeceb;
  font-family: Fira Sans Condensed;
}
html {
  scroll-behavior: smooth;
}

/*--------------vindu1-------------*/
.vindu1{
  background-image:linear-gradient(rgba(255,255,255,0.7),rgba(83, 211, 209,0.7)), url(./white.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: auto;
  border-radius : 0% 0% 50% 0%;
  z-index: -1;
}
.bar{
  height: 15vh;
  background-color: rgba(251, 236, 235,.9);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 15;
  border-style: outset;
}

.logo{
  float: left;
  margin-top: -5.5vw;
  padding-left:4vw;
}
.logo img{
  float: left;
 width: 20vw;
 height: 20vw;

}
.nav a{
  float: left;
  text-decoration: none;
  transition: 0.5s ease;
  text-align: center;
  color: rgb(6,26,38);
  padding-right: 4vw;
  font-size: 2vw;

}
.nav a.active {

  color: #FEB249;
}

.nav a:hover{

  color: #FEB249;
}
.nav{
  float: right;
  overflow: hidden;
  margin-top: 3vw;
  color: rgb(6,26,38);
}



.slagord{
  margin-top: 45vh;
  padding-left: 5vw;
}

.slagord h1{
  font-size: 3.5vw;
  padding-left: 1vw;
  font-family: Monosame;
}
#matsvinn{
  color: #FEB249;
  background-color: transparent;
}
.slagordknapp{
  display: inline-block;
  padding:6px 18px;
  margin-left: 1vw;
  margin-top: 7vh;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 1.5vw;
  letter-spacing: 2px;
  border-radius: 3vw;
  background-color: #FEB249;
}
.slagordknapp:hover{
  background-color:#53D3D1;
  border: 1px solid ;
}


.iphone{
  float: right;
  position: absolute;
  top: 35vh;
  left: 70%;
  z-index: 10;



}
.iphone img{
  float: right;
  height: 60vh;
  padding-right: 7vw;


}

/*--------------vindu2-------------*/
.vindu2{

  float: left;
  background-size: cover;
  background-position: center;
}
.tboks{
  height: 75vh;
  float: left;
  margin-left: 6.2vw;
  margin-top: 20vh;
  border-style: outset;
  background-image:linear-gradient(rgba(83, 211, 209,0.7),rgba(255,255,255,0.7)), url(./white.jpg);
}
.ttekst h2{
  font-size: 3.5vw;
  padding-left: 1vw;
  font-family: Astul;
}

.ttekst h3{
  font-family: Athiti
}

.tlogo img{
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 2vw;
}
.ttekst{
  padding-top: 4vh;
}

.knapptboks{
  display: inline-block;
  padding:6px 18px;
  margin-left: 7.2vw;
  margin-top: 7vh;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 1.5vw;
  letter-spacing: 2px;
  border-radius: 3vw;
  background-color: #FEB249;
}
.knapptboks:hover{
color: #fff;
background-color:#53D3D1 ;
}
#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: transparent ;
  color: #FEB249;
  cursor: pointer; 
  font-size: 4vw; 
}


.oppelinje{
  height: 2px;
  width: 70vw;
  background: #FEB249 ;
  display: inline-block;
  margin-left:15vw;
}
.nedelinje{
  height: 2px;
  width: 40vw;
  background: #FEB249 ;
  display: inline-block;
  margin-left:30vw;
}
.nedelinjek{
  height: 1px;
  width: 20vw;
  background: white;
  display: inline-block;
  margin-left:40vw;

}
.tittel1{
  float: left;
  margin-top: 10vh;
}

.tittel1 h1{
  font-size: 10vw;

}
.tittel1 h3{
  color: #FEB249;
  font-size: 4vw;
}
.tittel1 h2{
  font-size: 5vw;

}


/*--------------vindu3-------------*/
.vindu3{
  height: 60vh;
  float: left;
  background-color: #002447;
  margin-top: 20vh;
  padding: 0;

}
.tittelk{
  color: white;
  font-size: 2vw;

}
/*.nedelinjek{
  height: 1px;
  width: 30vw;
  background: #FFF ;
  display: inline-block;
  margin-left:35vw;
}*/
.kontaktboks1{
  float: left;
  height: 45vh;
  margin-left:5vw;
  text-align: center;
}

.kontaktboks1 a{
  font-size: 3vw;
  display: block;
  margin: 3vw 0;
  color: white;
  padding-top: 0.5vw;
}

.borderhøyre{
  height: 30vh;
  width: 1px;
  background: #FFF ;
  display: inline-block;
  float: left;
  margin-top: 6vh;


}
.kontaktboks2{
  float: left;
  height: 45vh;

}
.kontaktboks2 a{
  text-align: center;
  font-size: 3vw;
  display: block;
  color: white;
  padding-top: 1vw;

}
.kontaktboks2 :hover{
color: #FEB249;

}
.kontaktboks2 h3{
  position: center;
  padding: 1vw;
  text-align: center;
  color: white;
  font-size: 1vw;
}

.kontaktboks3{
  float: left;
  height: 45vh;
}
.bordervenstre{
 height: 30vh;
  width: 1px;
  background: #FFF ;
  display: inline-block;
  float: left;
  margin-top: 6vh;

}
.knapptboks3{

  display: inline-block;
  padding:10px 20px;
  margin-left: 10vw;
  margin-top: 10vh;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 1.5vw;
  letter-spacing: 2px;
  border-radius: 3vw;
  background-color: #FEB249;
}
.knapptboks3:hover{
color: #fff;
background-color:#53D3D1 ;
}




[class*="col-"]{
  border: black solid px;

}

.row::after{
  content: "";
  clear: both;
  display: table;
}
.col-small10{width: 10%;}
.col-small15{width: 15%;}
.col-small25{width: 25%;}
.col-small30{width: 30%;}
.col-small40{width: 40%;}
.col-small50{width: 50%;}
.col-small60{width: 60%;}
.col-small70{width: 70%;}
.col-small100{width: 100%;}

@media only screen and (max-width: 600px){


}




@media only screen and (min-width: 600px) and (max-width: 790px){


  
}
